.body {
    margin: 0;
    background-color: #e4e4e4;
    font-family: "iranyekan";
}

.section1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 18%;
}

.container-one {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    direction: rtl;
    flex-wrap: wrap;
    padding-top: 0;
}

.container-one-content {
    width: 32.5%;
    height: 90%;
    background-color: white;
}

.container-one-content-first {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.container-one-content-first-item {
    color: #00c3ff;
    font-size: 12px;
}

.container-one-content-two {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.container-one-content-two-item {
    color: black;
    font-size: 12px;
}

.container-one-content-three {
    display: flex;
    justify-content: space-between;
    height: 14%;
    align-items: center;
    margin: 20px;
    width: 25%;
}

.container-one-content-three-item {
    color: black;
    font-size: 12px;
}

.container-one-content-four {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.container-one-content-four-item {
    display: flex;
    justify-content: space-between;
    background-color: #f1efef;
    height: 14%;
    align-items: center;
    font-size: 12px;
}

.container-one-content-five {
    display: flex;
    justify-content: flex-start;
    height: 17%;
    margin: 20px;
    width: 95%;
}

.container-one-content-five-item {
    color: black;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 2px;
    width: 15%;
    font-size: 12px;
}

.container-one-content-six {
    display: flex;
    justify-content: space-between;
    height: 14%;
    margin: 20px;
    width: 95%;
    padding-bottom: 20px;
    font-size: 12px;
}

.containerone-content-six-item1 {
    padding-left: 15%;
    font-size: 12px;
}

.containerone-content-six-item2 {
    padding-left: 15%;
    font-size: 12px;
}

.containerone-content-six-item3 {
    padding-left: 15%;
    font-size: 12px;
}

.container-one-content-seven {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.container-one-content-seven-item {
    display: flex;
    color: #00c3ff;
    height: 14%;
    align-items: center;
    font-size: 12px;
}

.container-one-content-eight {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.container-one-content-eight-item {
    display: flex;
    justify-content: space-between;
    background-color: #f1efef;
    height: 14%;
    align-items: center;
    font-size: 12px;
}

.button_1 {
    border: none;
    width: 95%;
    color: white;
    padding: 4px 10px;
    font-size: 15px;
    margin: 10px 17px;
    cursor: pointer;
    border-radius: 10px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #00c3ff;
}

.button1:hover {
    background-color: #00c3ff;
    color: white;
}

.section2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 78%;
}

.section21 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.container-two {
    display: flex;
    width: 99.5%;
    height: 13%;
    direction: ltr;
    flex-wrap: nowrap;
}

.container-two-content {
    width: 100%;
    height: 90%;
    background-color: white;
    display: flex;
    border-radius: 5px;
    margin: 5px;
}

.container-two-content-first {
    display: flex;
    flex-direction: column;
    background-color: #f1d900;
    width: 50%;
    margin: 12px;
}

.container-two-content-first-items {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50%;
    align-items: flex-end;
}

.container-two-content-first-items-item1 {
    display: flex;
    padding: 2px;
    margin-right: 10px;
    font-size: 12px;
}

.container-two-content-two-items {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50%;
    background-color: #f1d900;
    justify-content: space-around;
}

.container-two-content-two-items-item2 {
    display: flex;
    width: 46%;
    background-color: white;
    justify-content: center;
    height: 60%;
    font-size: 10px;
    align-items: center;
}

.container-two-content-two-items-item3 {
    display: flex;
    width: 23%;
    background-color: white;
    justify-content: center;
    height: 60%;
    align-items: center;
    font-size: 10px;
}

.container-two-content-two-items-item4 {
    display: flex;
    width: 23%;
    background-color: white;
    justify-content: center;
    height: 60%;
    font-size: 10px;
    align-items: center;
}

.container-two-content-two {
    display: flex;
    background-color: #03da03;
    width: 50%;
    margin: 12px;
    flex-direction: column;
}

.container-two-content-three-items {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50%;
    align-items: flex-end;
}

.container-two-content-three-items-item1 {
    display: flex;
    padding: 2px;
    margin-right: 10px;
    font-size: 12px;
}

.container-two-content-four-items {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50%;
    background-color: #03da03;
    justify-content: space-around;
}

.container-two-content-four-items-item2 {
    display: flex;
    width: 47%;
    background-color: white;
    justify-content: center;
    height: 60%;
    font-size: 10px;
    align-items: center;
}

.container-two-content-four-items-item3 {
    display: flex;
    width: 47%;
    background-color: white;
    justify-content: center;
    height: 60%;
    font-size: 10px;
    align-items: center;
}

.container-three {
    display: flex;
    width: 99.5%;
    height: 27%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.container-three-content {
    width: 100%;
    height: 90%;
    background-color: white;
    display: flex;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    justify-content: space-around;
}

.container-three-contentone-items {
    width: 65%;
    height: 95%;
    display: flex;
    border-radius: 5px;
    margin: 3px;
    border: 2px solid #0000001e;
    flex-direction: column;
    direction: rtl;
}

.container-three-contentone-items-item1 {
    display: flex;
    width: 13%;
    height: 29px;
    background-color: #03da03;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}

.container-three-contentone-items-item2 {
    display: flex;
    width: 13%;
    height: 29px;
    background-color: #f1d900;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}

.container-three-contentone-items-item3 {
    display: flex;
    width: 13%;
    height: 28px;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}

.box {
    display: flex;
    margin-top: 15px;
}

.button_2 {
    border: none;
    width: 36%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #0000001e;
}

.container-three-contenttwo-items {
    width: 32%;
    height: 95%;
    display: flex;
    border-radius: 5px;
    margin: 3px;
    border: 2px solid #0000001e;
    flex-direction: column;
    direction: rtl;
}

.container-three-contentone-items-item4 {
    display: flex;
    width: 10%;
    height: 29px;
    background-color: #03da03;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}

.container-three-contentone-items-item5 {
    display: flex;
    width: 10%;
    height: 29px;
    background-color: #f1d900;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}

.container-three-contentone-items-item6 {
    display: flex;
    width: 10%;
    height: 28px;
    background-color: #ff0707;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}

.box {
    display: flex;
    margin-top: 15px;
}

.button_3 {
    border: none;
    width: 85%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #0000001e;
}

.container-four {
    display: flex;
    width: 99.5%;
    height: 10%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.container-four-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.container-five {
    display: flex;
    width: 99.5%;
    height: 10%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 6px;
}

.container-five-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.container-six {
    display: flex;
    width: 99.5%;
    height: 10%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 6px;
}

.container-six-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.container-seven {
    display: flex;
    width: 99.5%;
    height: 10%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 6px;
}

.container-seven-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.container-eight {
    display: flex;
    width: 99.5%;
    height: 10%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 6px;
}

.container-eight-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.container-nine {
    display: flex;
    width: 99.5%;
    height: 10%;
    flex-direction: row-reverse;
    margin-top: 6px;
}

.container-nine-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.button_4 {
    border: none;
    width: 7%;
    color: black;
    padding: 4px 10px;
    font-size: 13px;
    background-color: #ffb52c;
    cursor: pointer;
    border-radius: 7px;
    margin: 20px;
    font-family: iranyekan;
}

.section22 {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 100%;
}

.container-eleven {
    display: flex;
    width: 100%;
    height: 99%;
    flex-direction: row-reverse;
    direction: ltr;
}

.container-eleven-content {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
}

.container-eleven-content-one {
    display: flex;
    flex-direction: column;
    direction: rtl;
    background-color: white;
    width: 90%;
    height: 25%;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #0000001e;
    justify-content: space-around;
}

.container-eleven-content-one-item1 {
    display: flex;
    font-size: 40px;
    padding: 10px;
}

.container-eleven-content-one-item2 {
    display: flex;
    font-size: 17px;
    padding-right: 15px;
}

.button_5 {
    border: none;
    width: 30%;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border-radius: 7px;
    margin: 15px;
}

.p {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.container-eleven-content-one-item3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
}

.button_6 {
    border: none;
    width: 15%;
    color: #d6cece;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #4ec5e9;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.button_7 {
    border: none;
    width: 25%;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    background-color: #49b60b;
    cursor: pointer;
    border-radius: 5px;
}

.container-eleven-content-one-item4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
    font-size: 18px;
    margin-top: 15px;
}

.container-eleven-content-one-item5 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
    font-size: 22px;
    margin-top: 20px;
}

.button_8 {
    border: none;
    width: 35%;
    color: black;
    font-size: 15px;
    background-color: #cccccc;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.button_9 {
    border: none;
    width: 35%;
    color: black;
    padding: 5px 10px;
    font-size: 15px;
    background-color: #cccccc;
    cursor: pointer;
    border-radius: 5px;
}

.button_10 {
    border: none;
    width: 35%;
    color: black;
    padding: 4px 10px;
    font-size: 15px;
    background-color: #cccccc;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.img {
    display: flex;
    flex-direction: row;
    direction: rtl;
}

.container-eleven-content-one-item6 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
    font-size: 15px;
    margin-top: 20px;
}

input[type=text],
select {
    width: 95%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-color: #49b60b;
    box-sizing: border-box;
    direction: rtl;
}

.container-eleven-content-one-item7 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 22px;
    font-size: 12px;
    color: #49b60b;
}

.section3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4%;
}

.container-ten {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
}

.container-ten-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 15px;
}