.body {
    margin: 0;
    background-color: rgb(228, 228, 228);
}

.section1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
}

.section2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
}

.section21 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.section22 {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 100%;
}

.section3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
}

.containerone {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    direction: rtl;
    flex-wrap: wrap;
    padding-top: 0;
}

.containerone-content {
    width: 32.5%;
    height: 90%;
    background-color: white;
}

.containerone-content-first {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.containerone-content-first-item {
    color: rgb(0, 195, 255);
}

.containerone-content-two {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.containerone-content-two-item {
    color: black;
}

.containerone-content-three {
    display: flex;
    justify-content: flex-start;
    height: 14%;
    align-items: center;
    margin: 20px;
    width: 25%;
}

.containerone-content-three-item {
    color: black;
}

.containerone-content-four {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.containerone-content-four-item {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 239, 239);
    height: 14%;
    align-items: center;
}

.containerone-content-five {
    display: flex;
    justify-content: flex-start;
    height: 14%;
    margin: 20px;
    width: 95%;
}

.containerone-content-five-item {
    color: black;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 2px;
    width: 15%;
}

.containerone-content-six {
    display: flex;
    justify-content: space-between;
    height: 14%;
    margin: 20px;
    width: 95%;
}

.containerone-content-seven {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.containerone-content-seven-item {
    display: flex;
    color: rgb(0, 195, 255);
    height: 14%;
    align-items: center;
}

.containerone-content-eight {
    display: flex;
    justify-content: space-between;
    background-color: rgba(248, 246, 246, 0.952);
    margin: 15px;
    height: 14%;
    align-items: center;
}

.containerone-content-eight-item {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 239, 239);
    height: 14%;
    align-items: center;
}

.button1 {
    border: none;
    width: 95%;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 17px;
    cursor: pointer;
    border-radius: 10px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 195, 255);
}

.button1:hover {
    background-color: rgb(0, 195, 255);
    color: white;
}

.containertwo {
    display: flex;
    width: 99.5%;
    height: 13%;
    direction: ltr;
    flex-wrap: nowrap;
}

.containertwo-content {
    width: 100%;
    height: 90%;
    background-color: white;
    display: flex;
    border-radius: 5px;
    margin: 5px;
}

.containertwo-content-first {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 217, 0);
    width: 50%;
    margin: 12px;
}

.containertwo-content-first-items {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50%;
    align-items: flex-end;
}

.containertwo-content-first-items-item1 {
    display: flex;
    padding: 2px;
    margin-right: 10px;
}

.containertwo-content-three-items-item1 {
    display: flex;
    padding: 2px;
    margin-right: 10px;
}

.containertwo-content-two-items {
    display: flex;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50%;
    background-color: rgb(241, 217, 0);
    justify-content: space-around;
}

.containertwo-content-two-items-item2 {
    display: flex;
    width: 46%;
    background-color: white;
    justify-content: center;
    height: 60%;
    font-size: 80%;
    align-items: center;
}

.containertwo-content-two-items-item3 {
    display: flex;
    width: 23%;
    background-color: white;
    justify-content: center;
    height: 60%;
    align-items: center;
    font-size: 80%;
}

.containertwo-content-two-items-item4 {
    display: flex;
    width: 23%;
    background-color: white;
    justify-content: center;
    height: 60%;
    font-size: 80%;
    align-items: center;
}

.containertwo-content-two {
    display: flex;
    background-color: rgb(3, 218, 3);
    width: 50%;
    margin: 12px;
    flex-direction: column;
}

.containertwo-content-three-items {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50%;
    align-items: flex-end;
}

.containertwo-content-four-items {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50%;
    background-color: rgb(3, 218, 3);
    justify-content: space-around;
}

.containertwo-content-four-items-item2 {
    display: flex;
    width: 47%;
    background-color: white;
    justify-content: center;
    height: 60%;
    font-size: 80%;
    align-items: center;
}

.containertwo-content-four-items-item3 {
    display: flex;
    width: 47%;
    background-color: white;
    justify-content: center;
    height: 60%;
    font-size: 80%;
    align-items: center;
}

.containerthree {
    display: flex;
    width: 99.5%;
    height: 27%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.containerthree-content {
    width: 100%;
    height: 90%;
    background-color: white;
    display: flex;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    justify-content: space-around;
}

.containerthree-contentone-items {
    width: 65%;
    height: 95%;
    display: flex;
    border-radius: 5px;
    margin: 3px;
    border: 2px solid #0000001e;
    flex-direction: column;
    direction: rtl;
}

.box {
    display: flex;
    margin-top: 15px;
}

.containerthree-contentone-items-item1 {
    display: flex;
    width: 13%;
    height: 29px;
    background-color: rgb(3, 218, 3);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

.containerthree-contentone-items-item2 {
    display: flex;
    width: 13%;
    height: 29px;
    background-color: rgb(241, 217, 0);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

.containerthree-contentone-items-item3 {
    display: flex;
    width: 13%;
    height: 28px;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

.button5 {
    border: none;
    width: 36%;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #0000001e;
}

.containerthree-contenttwo-items {
    width: 32%;
    height: 95%;
    display: flex;
    border-radius: 5px;
    margin: 3px;
    border: 2px solid #0000001e;
    flex-direction: column;
    direction: rtl;
}

.containerthree-contentone-items-item4 {
    display: flex;
    width: 10%;
    height: 29px;
    background-color: rgb(3, 218, 3);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

.containerthree-contentone-items-item5 {
    display: flex;
    width: 10%;
    height: 29px;
    background-color: rgb(241, 217, 0);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

.containerthree-contentone-items-item6 {
    display: flex;
    width: 10%;
    height: 28px;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

.button6 {
    border: none;
    width: 85%;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #0000001e;
}

.containerfour {
    display: flex;
    width: 99.5%;
    height: 9%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.containerfive {
    display: flex;
    width: 99.5%;
    height: 9%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.containersix {
    display: flex;
    width: 99.5%;
    height: 9%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.containerseven {
    display: flex;
    width: 99.5%;
    height: 9%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.containereight {
    display: flex;
    width: 99.5%;
    height: 9%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
    margin-top: 5px;
}

.containernine {
    display: flex;
    width: 99.5%;
    height: 11%;
    flex-direction: row-reverse;
    margin-top: 5px;
}

.containerten {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    direction: ltr;
    flex-wrap: nowrap;
}

.button_2 {
    border: none;
    width: 7%;
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: rgb(255, 181, 44);
    cursor: pointer;
    border-radius: 7px;
    margin: 20px;
}

.containereleven {
    display: flex;
    width: 100%;
    height: 99%;
    flex-direction: row-reverse;
    direction: ltr;
}

.containereleven-content {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
}

.containereleven-content-one {
    display: flex;
    flex-direction: column;
    direction: rtl;
    background-color: white;
    width: 90%;
    height: 25%;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #0000001e;
    justify-content: space-around;
}

.containereleven-content-one-item1 {
    display: flex;
    font-size: 40px;
    padding: 10px;
}

.containereleven-content-one-item2 {
    display: flex;
    font-size: 17px;
    padding-right: 15px;
}

.button_7 {
    border: none;
    width: 30%;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    border-radius: 7px;
    margin: 15px;
}

.p {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.containereleven-content-one-item2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.containereleven-content-one-item3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
}

.button_8 {
    border: none;
    width: 15%;
    color: rgb(214, 206, 206);
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: rgb(46, 120, 231);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.button_9 {
    border: none;
    width: 25%;
    color: white;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: rgb(73, 182, 11);
    cursor: pointer;
    border-radius: 5px;
}

.containereleven-content-one-item4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
    font-size: 25px;
    margin-top: 15px
}

.containereleven-content-one-item5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
    font-size: 25px;
    margin-top: 20px;
}

.img {
    display: flex;
    flex-direction: row;
    direction: rtl;
}

.button_10 {
    border: none;
    width: 35%;
    color: black;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.button_11 {
    border: none;
    width: 35%;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
    border-radius: 5px;
}

.button_12 {
    border: none;
    width: 35%;
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.containereleven-content-one-item6 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 20px;
    font-size: 19px;
    margin-top: 20px;
}

input[type=text],
select {
    width: 95%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-color: rgb(73, 182, 11);
    box-sizing: border-box;
    direction: rtl;
}

.containereleven-content-one-item7 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-right: 22px;
    font-size: 12px;
    color: rgb(73, 182, 11);
}

.containerfour-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.containerfive-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.containersix-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.containerseven-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.containereight-content {
    width: 100%;
    height: 75%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.containernine-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 90%;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.containerten-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 5px;
}